*{
    margin: 0;
    padding: 0;
}

navbar {
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 50px;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

navbar a{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

navbar a:hover{
    cursor: pointer;
    text-decoration: underline;
}