* {
    margin: 0;
    padding: 0;
}

hr{
    width: 100%;
    margin: 20px 0;
}


navbar {
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 50px;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

navbar a {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

navbar a:hover {
    cursor: pointer;
    text-decoration: underline;
}

main {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobreMim {
    display: flex;
    width: 60%;
    gap: 40px;
}

.sobreMim img {
    width: 40%;
    height: 100%;
    position: relative;
    border-radius: 20px;
    box-shadow: 20px black;
}

.text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

.text h2 {
    font-size: 2rem;
}

.text p {
    margin-top: 10px;
    font-size: 1.2rem;
}

.tecnologias h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
}

@media (max-width: 1000px) {
    navbar a {
        font-size: 1rem;
    }

    .sobreMim {
        width: 80%;
    }

    .text h2 {
        font-size: 1.5rem;
    }

    .text p {
        width: 100%;
        font-size: 1rem;
    }

    .tecnologias h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 600px) {
    navbar{
        gap: 30px;
    }

    navbar a {
        font-size: 1rem;
    }

    .sobreMim {
        width: 90%;
        gap: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sobreMim img {
        width: 80%;
    }
}